.body {
  margin: 0;
}

.title {
  margin: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
}

.swiper-button-next {
  color: black;
  --swiper-navigation-size: 40px;
  height: 70px;
  width: 50px;
  background-color: white;
  border-radius: 65px 0 0 65px;
  right: 19px;
  margin-top: -35px;
}

.swiper-button-prev {
  color: black;
    --swiper-navigation-size: 50px;
    height: 70px;
    width: 50px;
    background-color: white;
    border-radius:0 65px 65px 0;
    left: -13px;
    margin-top: -35px;
}

