.body {
  margin: 0;
}

.title {
  margin: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family:DynaPuff-Regular;
  font-size: 1.8rem;
  color: var(--clr-primary);
}
.container{
  margin-bottom: 60px;
}
.swiper {
  width: 100%;
}
